body {
    margin: 0;
    background-color: #A4F0C2;
}
main {
    display: flex;
    justify-content: center; /* Center the container horizontally */
    align-items: center; /* Center the container vertically */
    height: calc(100vh - 120px); /* Adjust the height to leave space for header and footer */
    flex-direction: column; /* Stack children vertically */
}

#tapes-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    padding: 20px;
}

.tape-text {
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute; /* Position the text relative to the tape */
    top: 50%; /* Adjust vertically */
    left: 50%; /* Adjust horizontally */
    transform: translate(-50%, -50%); /* Center the text */
    font-size: 16px; /* Customize font size */
    color: black; /* Customize text color */
}

#tapes {
    position: relative;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: center; /* Center items */
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.tape {
    position: relative;
    padding: 20px;
    text-align: center;
    flex: 1 1 250px; /* Flex-grow, flex-shrink, and flex-basis */
    margin: 10px;
    transition: background-color 0.3s, transform 0.3s;
    max-width: 250px;
}

.tape:hover .tapeDisappear, .tape-hover .tapeDisappear {
    opacity: 0;
}

.tape:hover .tape-text, .tape-hover .tape-text {
    opacity: 1;
}

.tape img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

#record-button {
    background-color: #FE7271;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Add margin to create space between tapes and button */
    cursor: pointer;
    border: none;
}

#record-button img {
    width: 50px;
    height: 50px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .tape {
        flex: 1 1 200px; /* Adjust flex-basis for smaller screens */
        max-width: 200px;
    }

    .tape-text {
        font-size: 14px; /* Adjust font size */
    }
}

@media (max-width: 480px) {
    .tape {
        flex: 1 1 150px; /* Adjust flex-basis for very small screens */
        max-width: 150px;
    }

    .tape-text {
        font-size: 12px; /* Adjust font size */
    }

    #record-button {
        width: 60px;
        height: 60px;
    }

    #record-button img {
        width: 30px;
        height: 30px;
    }
}
